{% extends "base.html" %}
{% load verbatim_templatetag %}
{% load media %}
{% load resource %}

{% block title %}RDF Data Explorer{% endblock %}

{% block head %}
        {% media css:Components/DropDownList.base.css %}
        {% media css:Views/rdfadmin.explore.css %}
        <script type="text/javascript">
            var labelPredicate = "http://www.w3.org/2000/01/rdf-schema#label";
            var base_url = "";
            var insert_graph = "http://www.rdfclip.com/data";
        </script>
{% endblock %}

{% block header %}RDF Explorer {% endblock %}

{% block content %}
        <div class='franja'></div>
        <div id="mainWrap">

            <div class="container">
                <div id="imgDiv" style="display: none">
                    {% media img:Views/rdfadmin.loader.gif %}
                </div>
                <TABLE id="explorerTable">
                    <THEAD>
                        <TR class="headersRow">
                            <TH class="propertyHeader">Property</TH>
                            <TH class="valueHeader">Value</TH>
                        </TR>
                    </THEAD>
                    <TBODY>
                        {% for row in resource_data %}
                            <TR class="propertyRow">
                                <TH>{% resource row p pl %}</TH>
                                <TD>{% resource row o ol %}</TH>
                            </TR>
                        {% endfor %}
                    </TBODY>
                </TABLE>

                <script id='newPropertyTemplate' type='text/x-jquery-tmpl'>
                    {% verbatim %}
                    <TR class="newPropertyRow">
                        <TH>{{html propertyName}}</TH>
                        <TD><INPUT type='text' emptyValue='Click to add' class='newPropertyInput'></TD>
                    </TR>
                    {% endverbatim %}
                </script> 

                <script id='searchResultsTemplate' type='text/x-jquery-tmpl'>
                    {% verbatim %}
                    <TR class="resultRow">
                        <TD>{{html propertyName }}</TD>
                    </TR>
                    {% endverbatim %}
                </script>
                <TABLE id="searchResultsTable" style = "display : none">
                    <THEAD>
                        <TR class="headersRow">
                            <TH class="propertyHeader">Results</TH>
                        </TR>
                    </THEAD>
                    <TBODY></TBODY>
                </TABLE>

                <div id="resultsMsgDiv" style="display: none">
                    No results.
                </div>
                <br>
                <button class='inlineButton' id='newPropertyButton'>Add +</button>
                <button class='inlineButton' id='saveChangesButton'>Save Changes</button>
            </div>
        </div>
        {% media js:Lib/json2.js %}
        {% media js:Lib/jquery.query-2.1.7.js %}
        {% media js:Lib/oop.js %}
        {% media js:Rdf/rdf.js %}
        {% media js:Components/Notifier.js %}
        {% media js:Components/DropDownList.js %}
        {% media js:Components/jquery.extendedInputs.js %}
        {% media js:Views/rdfadmin.explore.js %}
{% endblock %}
